{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Sebastian's blog - A Blog Application created with Django</h2>
        <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
        <form class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <label class="sr-only" for="semail">Your email</label>
                <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
    </div>
</section>

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        {% for post in page_obj %}
        <div class="item mb-5">
            <div class="media">
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{% static 'images/2.jpg' %}" alt="image">
                <div class="media-body">
                    <h3 class="title mb-1"><a href="{% url 'post_detail' id=post.id %}">{{ post.title }}</a></h3>
                    <div class="meta mb-1">
                        <span class="date">Published {{ post.created_at|timesince }} ago</span>
                        <span class="author"><a href="{% url 'profile' post.author %}">{{ post.author }}</a></span>
                        <span class="date">{{ post.comments.count }} comments</span>
                    </div>
                    <div class="intro">{{ post.content|truncatechars:300 }}</div>
                    <strong><a class="more-link" href="{% url 'post_detail' id=post.id %}">Read more &rarr;</a></strong>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav class="blog-nav nav nav-justified my-5">
            {% if page_obj.has_previous %}
            <a class="nav-link-prev nav-item nav-link rounded-left" href="?page={{ page_obj.previous_page_number }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="nav-link-next nav-item nav-link rounded" href="?page={{ page_obj.next_page_number }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            {% endif %}
        </nav>
    </div>
</section>
{% endblock %}
