{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Welcome {{ user.username }}</h2>
        <div class="intro">This is post detail site where you can read whole post.</div>
    </div>
</section>

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <h1>{{ post.title }}</h1>
        <p><strong>Autor:</strong> {{ post.author }}</p>
        <p><strong>Opublikowano:</strong> {{ post.published_at }}</p>
        <div>
            <p>{{ post.content }}</p>
        </div>
    </div>
</section>

<section class="comments-section py-1">
    <div class="container">
        {% if user.is_authenticated %}
        <h4>Add a Comment</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <h4>Add a Comment</h4>
        <p><a href="{% url 'login' %}" style="font-weight: bold;">Log in</a> to add a comment.</p>
        {% endif %}
    </div>
</section>

<section class="comments-section py-5">
    <div class="container">
        {% if post.comments.count == 1 %}
            <h4>1 Comment</h4>
        {% else %}
            <h4>{{ post.comments.count }} Comments</h4>
        {% endif %}
        <ul class="list-unstyled">
            {% for comment in comments %}
            <li class="mb-4">
                <p><strong>{{ comment.author.username }}</strong> said:</p>
                <p>{{ comment.content }}</p>
                <small class="text-muted">on {{ comment.created_at|date:"d M Y H:i" }}</small>
                <hr>
            </li>
            {% empty %}
            <p>No comments yet. Be the first to comment!</p>
            {% endfor %}
        </ul>
    </div>
</section>


{% endblock %}

